# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iml
out/
.kotlin

# IntelliJ workspace (optional but commonly ignored)
.idea/workspace.xml
.idea/shelf/
.idea/httpRequests/

# ==========================
# Eclipse
# ==========================
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

# ==========================
# NetBeans
# ==========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Java
# ==========================
*.class
*.log

# ==========================
# macOS
# ==========================
.DS_Store